attrs==25.3.0
chardet==5.2.0
coverage==7.10.6
customtkinter==5.2.2
darkdetect==0.8.0
Faker==37.8.0
hypothesis==6.139.2
iniconfig==2.1.0
packaging==25.0
pillow==10.4.0
pluggy==1.6.0
psutil==7.1.0
py-cpuinfo==9.0.0
Pygments==2.19.2
pytest==8.4.2
pytest-benchmark==5.1.0
pytest-cov==7.0.0
pytest-mock==3.15.1
reportlab==4.2.2
sortedcontainers==2.4.0
tzdata==2025.2
